<ul id="tree" class="filetree">
	<li><span class="folder">Poder Executivo</span>
		<ul>
			<li><span class="folder">Governadoria do Estado</span>
				<ul>
					<li><span class="folder">Decretos</span>
						<ul>
							<li><span class="folder">Decreto S</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157989"> 157989 -  Designa Secretária  Informação Tesouro,  DEC. Nº 1003-S/2015 </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157990"> 157990 -  Altera Membros Cons elho Gestor, DEC. Nº  1004-S/2015 </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157991"> 157991 -  NOMEAÇÃO FERNANDO M ARCIO, DEC. Nº 1005- S/2015 </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157992"> 157992 - NOMEAÇÃO CAMILA ISSA, DEC. Nº 1006-S/2015.</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157988"> 157988 -   Altera Membros Con selho Cultura, DEC.  Nº 1002-S/2015 </a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Secretaria de Estado do Governo  - SEG -</span>
						<ul>
							<li><span class="folder">Ordem de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157858"> 157858 - Ordem de Serviço nº 025</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157931"> 157931 - Portaria de nº 004-S</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto de Previdência dos Servidores do Estado do Espírito Santo  - IPAJM -</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157681"> 157681 - Portaria</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157705"> 157705 - EXONERAÇÃO GESIANI ARAUJO PEREIRA</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Termos</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157908"> 157908 - Imunidade e isenção 11 06 2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157851"> 157851 - ATO 016 RETIFICAR</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157849"> 157849 - AVERBAÇÃO ATO 028</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Procuradoria Geral do Estado  - PGE -</span>
						<ul>
							<li><span class="folder">Ordem de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157862"> 157862 - Interrupção de Férias</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Superintendência Estadual de Comunicação Social  - SECOM -</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157946"> 157946 - Port 024 - Comis GT-MAI</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Economia e Planejamento  - SEP -</span>
				<ul>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157934"> 157934 - 2º Alt QDD 2015 Portaria</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Gestão e Recursos Humanos  - SEGER -</span>
				<ul>
					<li><span class="folder">Contrato</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157668"> 157668 - RESUMO CONCESSÃO DE USO Nº 05-2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto de Tecnologia da Informação e Comunicação do Estado do Espírito Santo  - PRODEST -</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157769"> 157769 - RESUMO TERMO DE CONTRATO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Fazenda  - SEFAZ -</span>
				<ul>
					<li><span class="folder">Edital</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157807"> 157807 - Edital 18/2015 - SUFIS-M</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Pauta</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157980"> 157980 - Pauta Nº 013 de 16062015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157945"> 157945 - PORTARIA Nº 23-R</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157943"> 157943 - PORTARIA Nº 22-R</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Acórdão</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157814"> 157814 - AC031 2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157809"> 157809 - AC029 2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157812"> 157812 - AC030 2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Termos</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157856"> 157856 - TERMO DE ACORDO 002/2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Junta Comercial do Estado do Espírito Santo  - JUCEES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157781"> 157781 - Instrução de Serviço nº 050/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Banco do Estado do Espírito Santo S/A  - BANESTES -</span>
						<ul>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157918"> 157918 - ERRATA - GECEL</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157921"> 157921 - RTM - GEINF</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Saúde  - SESA -</span>
				<ul>
					<li><span class="folder">Resolução</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157944"> 157944 - RESOLUÇÃO CES -  898/15 </a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157951"> 157951 - PORTARIA 249-S - SUELY MATTEDI CECCO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157956"> 157956 - PORTARIA 250-S/15 - SONIA MARIA ALCIDES</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157959"> 157959 - PORTARIA 251-S/15 - SONIA MARIA CHAGAS PERINI</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157963"> 157963 - PORTARIA 252-S/15 - GELZA MARIA DE OLIVEIRA RUY</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157966"> 157966 - PORTARIA 253-S/15 - GELZA MARIA DE OLIVEIRA RUY</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157967"> 157967 - PORTARIA 254-S/15 - SUELY MATTEDI CECCO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157969"> 157969 - PORTARIA 255-S/15 - SONIA MARIA ALCIDES</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157972"> 157972 - PORTARIA 256-S/15 - RAPHAEL LIMA DE MOURA SOUZA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157974"> 157974 - PORTARIA 257-S/15 - RENATA POTON VIEIRA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157975"> 157975 - PORTARIA 258-S/15 MARISTELA SANDRE FONSECA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157987"> 157987 - PORTARIA 261-S/15 - PETER LIRIO ALVES</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157977"> 157977 - PORTARIA 259-S/15 - DANIELE BRAGATTO THOMAZINI</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157985"> 157985 - PORTARIA 260-S/15 - FABIANA GALON DIAS</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Rescisão de Contrato de Estágio</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157675"> 157675 - ORDEM DE SERVIÇO 027/15 - ESTAGIÁRIOS RESCISÃO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ordem de Fornecimento</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157764"> 157764 - ORDEM DE FORNECIMENTO 0643/2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157770"> 157770 - ORDEM DE FORNECIMENTO Nº 095/2015.</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157771"> 157771 - ORDEM DE FORNECIMENTO Nº 096/2015.</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Contrato</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157755"> 157755 - CONTRATO 0155/2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157763"> 157763 - CONTRATO 0120 e 0121/2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Aditivo</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157761"> 157761 - 1º TERMO ADITIVO AO CONVÊNIO 0070/2014</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157759"> 157759 - 1º TERMO ADITIVO AO CONVÊNIO 0038/2014</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157766"> 157766 - 1º TERMO ADITIVO AO CONVÊNIO 0014/2014</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157919"> 157919 - 1º TERMO ADITIVO AO CONTRATO 0067/2014</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Hospitais</span>
						<ul>
							<li><span class="folder">Ordem de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157859"> 157859 - Ordem de Serviço</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157881"> 157881 - ORDEM DE SERVIÇO</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ordem de Fornecimento</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157691"> 157691 - Resumo de Ata</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157787"> 157787 - Resumo de Ata</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Segurança Pública e Defesa Social  - SESP -</span>
				<ul>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157983"> 157983 - Portaria nº 095-S</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ordem de Serviço</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157936"> 157936 - Ordem de Serviço nº 020 S</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Contrato</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157669"> 157669 - EXTRATO DE CONTRATO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Aditivo</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157684"> 157684 - RESUMO DE TERMO ADITIVO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Errata</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157912"> 157912 - Errata de Decisão Administrativa da VSG</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Polícia Militar  - PM-ES -</span>
						<ul>
							<li><span class="folder">Diretoria de Saúde da PMES - HPM</span>
								<ul>
									<li><span class="folder">Ordem de Fornecimento</span>
										<ul>
											<li><span class="file"><a class="linkMateria" identificador="157884"> 157884 - RESUMO DA OF Nº 063/2015 - MED SHOP</a>
                </span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Polícia Civil  - PC-ES -</span>
						<ul>
							<li><span class="folder">Edital</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157745"> 157745 - EDITAL Nº 018/2015 - CPC</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resolução</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157747"> 157747 - RESOLUÇÃO Nº 053/2015 - CPC </a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157735"> 157735 - RENOVACAO BONGELAR 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Educação  - SEDU -</span>
				<ul>
					<li><span class="folder">Edital</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157103"> 157103 - EDITAL NOTIFICAÇÃO WESLEY SOSSAI VASCONCELLOS</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Faculdade de Música do Espírito Santo  - FAMES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157901"> 157901 - INSTRUÇÃO DE SERVIÇO FAMES Nº. 70.</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Justiça  - SEJUS -</span>
				<ul>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157948"> 157948 - PORTARIA Nº 862-S - MIGUEL ANGELO BASSINI - LOCALIZAÇÃ</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157880"> 157880 - Portaria 772-S, de 01 de junho de 2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157950"> 157950 - PORTARIA Nº 861-S - LOCALIZAÇÃO - ANA PAULA FIOROTTE DE OLIVEIRA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157952"> 157952 - PORTARIA Nº 863-S - LOCALIZAÇÃO - SAMELA VIEIRA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157955"> 157955 - PORTARIA Nº 864-S - LOCALIZAÇÃO - GILSON RODRIGO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157958"> 157958 - PORTARIA Nº 856-S - LOCALIZAÇÃO - LEYLA CRISTINA ROSA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157962"> 157962 - PORTARIA Nº 855-S - LOCALIZAÇÃO - GILSON CARVALHO JUNIOR</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157965"> 157965 - PORTARIA Nº 859-S - CESSAR FG-CE - RACHEL APARECIDA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157968"> 157968 - PORTARIA Nº 860-S - DESIGNAÇÃO FG-CE - MARCIO JOSE RIBEIRO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157971"> 157971 - PORTARIA Nº 858-S - EXONERAÇÃO - DARLENE IGNACIO FREIRE</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157973"> 157973 - PORTARIA Nº 857-S - EXONERAÇÃO - FABIO RAFAEL BAGGIERI</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157979"> 157979 - PORTARIA Nº 865-S - EXONERAÇÃO - FABIANO CALLEGARIO SILVA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157981"> 157981 - PORTARIA Nº 866-S - EZONERAÇÃO - REGINALDO RODRIGUES DA CRUZ</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157984"> 157984 - PORTARIA Nº 867-S - EXONERAÇÃO - DIEGO DE JESUS LEITE</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto de Atendimento Sócio-Educativo do Espírito  Santo  - IASES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157953"> 157953 - INSTRUÇÃO DE SERVIÇO Nº 0245 2015  DECLARAR ESTÁVEIS ESTÁGIO PROBATORIO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157957"> 157957 - INSTRUÇÃO DE SERVIÇO Nº 0246 2015  CESSAR O CONTRATO ALINE</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157961"> 157961 - INSTRUÇÃO DE SERVIÇO Nº 0247 2015  CESSAR O CONTRATO KELLSON</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157964"> 157964 - INSTRUÇÃO DE SERVIÇO Nº 0248 2015  CESSAR O CONTRATO GELLIS</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto Estadual de Proteção e Defesa do Consumidor  - PROCON -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157792"> 157792 - Suspensão de Férias</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157891"> 157891 - Exoneração</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Assistência Social e Direitos Humanos  - SEADH -</span>
				<ul>
					<li><span class="folder">Ordem de Serviço</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157836"> 157836 - Extrato Ato Designação Fiscal 023 2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157838"> 157838 - Extrato ADF 024 2015 Embratec</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157841"> 157841 - Extrato ADF 25 2015</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Cultura  - SECULT -</span>
				<ul>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157843"> 157843 - Portaria nº 025-S, DE 10 DE JUNHO DE 2015</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Agricultura, Abastecimento, Aquicultura e Pesca  - SEAG -</span>
				<ul>
					<li><span class="folder">Instituto de Defesa Agropecuária e Florestal do Espírito Santo  - IDAF -</span>
						<ul>
							<li><span class="folder">Rescisão de Contrato de Estágio</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157713"> 157713 - 05 rescisão estágio</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto Capixaba de Pesquisa, Assistência Técnica e Extensão Rural  - INCAPER -</span>
						<ul>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157794"> 157794 - 2º termo aditivo Correios</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado dos Transportes e Obras Públicas  - SETOP -</span>
				<ul>
					<li><span class="folder">Instituto de Obras Públicas do Estado do Espírito Santo  - IOPES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157898"> 157898 - INSTRUÇÃO DE SERVIÇO Nº 026/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157902"> 157902 - INSTRUÇÃO DE SERVIÇO Nº 025/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado do Meio Ambiente e Recursos Hídricos  - SEAMA -</span>
				<ul>
					<li><span class="folder">Agência Estadual de Recursos Hídricos - AGERH</span>
						<ul>
							<li><span class="folder">Delilberação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157686"> 157686 - EXTRATO DA DELIBERAÇÃO DO Nº 002/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ordem de Fornecimento</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157906"> 157906 - ORDEM DE FORNECIMENTO Nº 81397/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto Estadual de Meio Ambiente e Recursos Hídricos  - IEMA -</span>
						<ul>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157872"> 157872 - RESUMO  1º TERMO ADITIVO   CONTRATO Nº 042 43 44 283   2014   Escelsa   56378610</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157875"> 157875 - RESUMO  2º TERMO ADITIVO   CONTRATO Nº 021 2013   Cooprest</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Saneamento, Habitação e Desenvolvimento Urbano  - SEDURB -</span>
				<ul>
					<li><span class="folder">Companhia Espírito Santense de Saneamento  - CESAN -</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157800"> 157800 - RESUMO DO CONTRATO 094 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157803"> 157803 - RESUMO DO CONTRATO 088 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157806"> 157806 - RESUMO DO CONTRATO 080 2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157797"> 157797 - RESUMO TERMO ADITIVO 01 CONTRATO 195 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157828"> 157828 - RESUMO TERMO ADITIVO 04 CONVENIO 002 2011</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157810"> 157810 - ERRATA DO CONTRATO 093 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Ciência, Tecnologia, Inovação, Educação Profissional e Trabalho  - SECTTI -</span>
				<ul>
					<li><span class="folder">Ordem de Serviço</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="146164"> 146164 - Ordem de Serviço 015 2015 RECESSO JOAO VITOR</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Fundação de Amparo à Pesquisa e Inovação do Espírito Santo  - FAPES -</span>
						<ul>
							<li><span class="folder">Contrato de Estágio</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157715"> 157715 - Instrução de Serviço nº 091</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Desenvolvimento  - SEDES -</span>
				<ul>
					<li><span class="folder">Ordem de Fornecimento</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157685"> 157685 - Ordem de Fornecimento_Delta Pak</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Agência de Desenvolvimento das Micro e Pequenas Empresas e do Empreendedorismo  - ADERES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157721"> 157721 - INSTRUÇÃO DE SERVIÇO 049</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157922"> 157922 - INSTRUÇÃO DE SERVIÇO 043/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157924"> 157924 - INSTRUÇÃO DE SERVIÇO 050</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Instituto de Pesos e Medidas do Estado do Espírito Santo  - IPEM-ES -</span>
						<ul>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157756"> 157756 - Instrução de Serviço nº. 071</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Rescisão de Contrato de Estágio</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157678"> 157678 - Resumo de Termo de Estágio  Encerramento</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157690"> 157690 - RESUMO DO PRIMEIRO TERMO ADITIVO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Banco de Desenvolvimento do Espírito Santo  - BANDES -</span>
						<ul>
							<li><span class="folder">Edital</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157861"> 157861 - Edital de Convocação AGE</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><span class="folder">Licitações</span>
		<ul>
			<li><span class="folder">Secretaria de Estado da Fazenda  - SEFAZ -</span>
				<ul>
					<li><span class="folder">Banco do Estado do Espírito Santo S/A  - BANESTES -</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157913"> 157913 - BRINDES - GEMAK</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Saúde  - SESA -</span>
				<ul>
					<li><span class="folder">Aviso de Licitação</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157733"> 157733 - AVISO DE LICITAÇÃO - PREGÃO Nº 030/2015.</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157852"> 157852 - AVISO DE LICITAÇÃO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Resultado de Licitação</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157855"> 157855 - RESULTADO DE LICITAÇÃO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Dispensa de Licitação</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157753"> 157753 - DISPENSA DE LICITAÇÃO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157757"> 157757 - DISPENSA DE LICITAÇÃO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157322"> 157322 - DISPENSA DE LICITAÇÃO</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ata Registro de Preço</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157767"> 157767 - ATA DE REGISTRO DE PREÇOS 0829/2015 e CONTRATOS 0123 e 0124/2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157768"> 157768 - ATA DE REGISTRO DE PREÇOS 0710 a 0714/2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157853"> 157853 - ATA DE REGISTRO DE PREÇOS 0822 a 0828/2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Hospitais</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157835"> 157835 - AVISO DE LICITAÇÃO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157926"> 157926 - AVISO DE LICITAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157832"> 157832 - Resultado de licitação</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157827"> 157827 - RESULTADO DE LICITAÇÃO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157889"> 157889 - resultado</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157935"> 157935 - RESULTADO DE LICITAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Dispensa de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157834"> 157834 - DISPENSA DE LICITAÇÃO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157865"> 157865 - AVISO DISPENSA</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157695"> 157695 - AVISO adesão ARP 7046539 UL QUIMICA</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Centro de Reabilitação Física do Espírito Santo - CREFES</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157711"> 157711 - Aviso de Licitação Pregão 005 15 Bobina Térmica,Estetoscópio,Esponjas,Kit de Massa e Outros Proc 68981031 15</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Segurança Pública e Defesa Social  - SESP -</span>
				<ul>
					<li><span class="folder">Polícia Civil  - PC-ES -</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157782"> 157782 - AVISO PREGÃO 030/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157871"> 157871 - RESULTADO DO PREGAO 20/2015- MARTELOS E KIT DEPUNÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Educação  - SEDU -</span>
				<ul>
					<li><span class="folder">Cancelamento de Licitação</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157938"> 157938 - PREGÃO ELETRÔNICO 13/2015 (CANCELADO)</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Errata</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157937"> 157937 - ERRATA PREGÃO ELETRÔNICO 13/2015</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Justiça  - SEJUS -</span>
				<ul>
					<li><span class="folder">Instituto de Atendimento Sócio-Educativo do Espírito Santo  - IASES - </span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157893"> 157893 - AVISO DE LICITAÇÃO 011 2015 QUADRO BRANCO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado da Agricultura, Abastecimento, Aquicultura e Pesca  - SEAG -</span>
				<ul>
					<li><span class="folder">Aviso de Licitação</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157750"> 157750 - Avs Licitç Preg Eletronc nº 008 2015 Equip Mandioca  Caixa</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado dos Transportes e Obras Públicas  - SETOP -</span>
				<ul>
					<li><span class="folder">Departamento de Estradas e Rodagem do Estado do Espírito Santo  - DER-ES - </span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157916"> 157916 - Edital Pregão 004/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Saneamento, Habitação e Desenvolvimento Urbano  - SEDURB -</span>
				<ul>
					<li><span class="folder">Companhia Espírito Santense de Saneamento  - CESAN - </span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157815"> 157815 - AVISO DE LICITAÇÃO PEL 029 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Secretaria de Estado de Desenvolvimento  - SEDES -</span>
				<ul>
					<li><span class="folder">Agência de Desenvolvimento das Micro e Pequenas Empresas e do Empreendedorismo  - ADERES -</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157719"> 157719 - AVISO DE RESULTADO DE LICITAÇÃO PREGÃO ELETRÔNICO Nº 004/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Inexigibilidade de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157726"> 157726 - AVISO DE INEXIGIBILIDADE DE LICITAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Banco de Desenvolvimento do Espírito Santo  - BANDES -</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157758"> 157758 - Aviso Pregão 2015 001 Amplices de Firewall</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Prefeituras</span>
				<ul>
					<li><span class="folder">Águia Branca</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157666"> 157666 - PP 019 E 023/2015 - AR CONDICIONADO E MOTOCROSS</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Alegre</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157736"> 157736 - AVISO PP 025</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157737"> 157737 - AVISO PP 026</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157738"> 157738 - AVISO TP 022-14</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157742"> 157742 - RESULTADO TP 004 - REP. I</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157740"> 157740 - RESULTADO TP 002 - REP II</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Alto Rio Novo</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157692"> 157692 - PP017-2015-MAT. LAB.</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157699"> 157699 - PP019-2015-SISTEMA</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157700"> 157700 - PP020-2015-LAVAJATO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157696"> 157696 - PP018-2015-MANUT. VEÍC.</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Anchieta</span>
						<ul>
							<li><span class="folder">Resultado Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157707"> 157707 - Ata RP 043 e 044 e 045 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Aracruz</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157888"> 157888 - SEMSU - Aviso de PRORROGAÇÃO CP 009/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157892"> 157892 - SEMSU - Aviso de reabertura PE 018/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Barra de São Francisco</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157820"> 157820 - AVISO DE LICITAÇÃO TP 0003 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Boa Esperança</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157657"> 157657 - AVISO EDITAL PREGAO PRESENCIAL 027 2015 AQUISIÇÃO MATERIAIS ILUMINAÇÃO PÚBLICA DIOES </a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157825"> 157825 - AVISO RESULTADO PREGAO PRESENCIAL 021 2015 CONTRATAÇÃO EMPRESA LAVAGEM DIOES</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157826"> 157826 - AVISO RESULTADO PREGAO PRESENCIAL 022 2015 CONTRATAÇÃO EMPRESA LAVAGEM DIOES</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Brejetuba</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157311"> 157311 - pub TP 07 2015 Escola Rancho Dantas</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Cachoeiro de Itapemirim</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157817"> 157817 - PR 022/2015-Retificação</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Cariacica</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157939"> 157939 - AVISO DE TOMADA DE PREÇO 10 2015  SEMGEPLAN</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Dispensa de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157970"> 157970 -  ATO DE DISPENSA DE  LICITAÇÃO  PROC 1393  2015  SEMGEPLAN </a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Adjudicação e/ou Homologação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157724"> 157724 - HOMOLOGAÇÃO TP 07 2015  SEMGEPLAN</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157890"> 157890 - RETIFICAÇÃO TP 05 2015  SEMGEPLAN</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Castelo</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157689"> 157689 - Aviso de Licitação PP 100, 101, 102, 103, 104, 105, 106 e 32 da saúde</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Colatina</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157886"> 157886 - Aviso de Publicação de Edital PP 81/15</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Conceição do Castelo</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157779"> 157779 - AVISO DE LICITAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Inexigibilidade de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157712"> 157712 - TERMO DE RATIFICAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Domingos Martins</span>
						<ul>
							<li><span class="folder">Adjudicação e/ou Homologação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157804"> 157804 - pregao 37</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Fundão</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157811"> 157811 - Aviso de Licitação PP nº. 051/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157813"> 157813 - Aviso de Licitação PP nº 052/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157822"> 157822 - Aviso de Licitação PP nº. 053/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Adjudicação e/ou Homologação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157805"> 157805 -  Resultado e Homolog ação do PP nº. 023/2 015 </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157808"> 157808 - Resultado e Homologação PP nº. 043/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157708"> 157708 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157716"> 157716 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157714"> 157714 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157720"> 157720 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157799"> 157799 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157793"> 157793 - ATA DE REGISTRO DE PREÇO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Governador Lindenberg</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157682"> 157682 - PP 60</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157683"> 157683 - PP 61</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Guaçuí</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157867"> 157867 - Publicação DIOES</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157869"> 157869 - Publicação  DIOES</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Guarapari</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157710"> 157710 - SEMED - RESULTADO CP 009/2014</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157878"> 157878 - ERRATA PP 060/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ibatiba</span>
						<ul>
							<li><span class="folder">Suspensão de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157644"> 157644 - Suspensão do Pregão Presencial 025/2015 - TRANSBORDO DE LIXO IBATIBA</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ibitirama</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157776"> 157776 - AVISO DE RESULTADO DE LICITAÇÃO PE 029/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Iúna</span>
						<ul>
							<li><span class="folder">Dispensa de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157356"> 157356 - Dispensa - Imovel Rubem Fontoura</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157316"> 157316 - Publicação Ata 67/2015 - Cirurgica Leal</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157469"> 157469 - Publicação Ata 72/2015 - Iúna Condimentos</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157718"> 157718 - Publicação Ata 70/2015 - MB Textil</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Itarana</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157848"> 157848 - Pregão Presencial nº 043 - Baú de alumínio</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Itapemirim</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157746"> 157746 - SUSPENSÃO CP 015 TP020 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157877"> 157877 - PP 0059 2015  DIO</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Suspensão de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157883"> 157883 - PP 049 2015  AVISO DE SUSPENSÃO   DIO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Jerônimo Monteiro</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157801"> 157801 - Pregão Presencial</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Linhares</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157874"> 157874 - PREGÃO PRESENCIAL PML</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Marechal Floriano</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157790"> 157790 - Resultado PP 019</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Marilândia</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157887"> 157887 - Pub Hom PP 055 e 056/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157896"> 157896 - Pub Hom PP 061/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Mimoso do Sul</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157784"> 157784 - AVISO DE LICITAÇÃO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Montanha</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157743"> 157743 - EDITAL DE PREGAO 019 2015 GAS </a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157693"> 157693 - resultado pregao 007 2015 FMAS </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157706"> 157706 - RESULTADO PREGAO 008 2015 FMAS </a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Mucurici</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157846"> 157846 - Aviso Pregão Presencial 12/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Rio Bananal</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157941"> 157941 - AMOSTRA</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Santa Maria de Jetibá</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157839"> 157839 - Aviso TP 024/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Adjudicação e/ou Homologação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157731"> 157731 - Homologação PP 078-15 e TP 018/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Santa Teresa</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157788"> 157788 - Resultado de Licitação TP 02 e TP 03/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157831"> 157831 - RESULTADO</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157844"> 157844 - Errata</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">São Domingos do Norte</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157665"> 157665 - aviso de retificação</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157876"> 157876 - ata do pregão 03 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157879"> 157879 - ata do pregão 05 2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157885"> 157885 - ata do pregão 09 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">São Gabriel da Palha</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157976"> 157976 - SUSPENSÃO PREGÃO PRESENCIAL 23/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serra</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157663"> 157663 - PE 080/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157658"> 157658 - PE 033/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157818"> 157818 - PE 021/2015 - SESA</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157900"> 157900 - Resultado TP 012/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Viana</span>
						<ul>
							<li><span class="folder">Resultado de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157762"> 157762 - Aviso de ABERTURA DE ENVELOPES  TP 008 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Entidades Municipais</span>
				<ul>
					<li><span class="folder">Fundo Municipal de Saúde de Nova Venécia</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157320"> 157320 - Extrato P. Presencial - 014</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157323"> 157323 - Extrato ATA DE REGISTRO DE PREÇOS Nº 016-2015 - PP Nº 006-2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Fundo Municipal de Saúde de São Mateus</span>
						<ul>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157868"> 157868 - Errata Posto Oriente</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Fundo Municipal de Saúde de Vila Velha</span>
						<ul>
							<li><span class="folder">Suspensão de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157850"> 157850 - PE 072-2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Jerônimo Monteiro</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157833"> 157833 - Pregão 010/2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157830"> 157830 - Pregão 009/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Linhares</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157739"> 157739 - Resumo Edital Pregão Presencial nº 21/2015 - SRP</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Marilândia</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157744"> 157744 - PP-001/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Mimoso do Sul</span>
						<ul>
							<li><span class="folder">Aviso de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157698"> 157698 - AVISO PREGÃO 008/2015 </a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Ministério Público do Espírito Santo  - MPES -</span>
				<ul>
					<li><span class="folder">Procuradoria Geral de Justiça  - PGJ -</span>
						<ul>
							<li><span class="folder">Adjudicação e/ou Homologação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157647"> 157647 - Resultado e Homologação PE 017/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Poder Legislativo</span>
				<ul>
					<li><span class="folder">Assembléia Legislativa do Espírito Santo  - ALES -</span>
						<ul>
							<li><span class="folder">Dispensa de Licitação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157942"> 157942 - Aviso de Dispensa de Licitação</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Ata Registro de Preço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157780"> 157780 - Ata de Registro de Preços nº 010/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><span class="folder">Diversos</span>
		<ul>
			<li><span class="folder">Prefeituras</span>
				<ul>
					<li><span class="folder">Anchieta</span>
						<ul>
							<li><span class="folder">Comunicado</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157940"> 157940 - COMUNICADO CP 001 15 PRAZO DE RECURSO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Aracruz</span>
						<ul>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157821"> 157821 - 1º ADITIVO AO CONTRATO DE RATEIO Nº 005/2015 - CIM POLINORTE</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Conceição da Barra</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157824"> 157824 - Portaria 124, de 02 de junho de 2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157920"> 157920 - Errata do Decreto 4.677 de 12 de maio de 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Domingos Martins</span>
						<ul>
							<li><span class="folder">Decreto</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157722"> 157722 - normt 2744 2745 2746 2747</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Fundão</span>
						<ul>
							<li><span class="folder">Comunicado</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157789"> 157789 - COMUNICADO REFERENTE A CP 001-2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Governador Lindenberg</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157321"> 157321 - Resumo de Contrato 0832015 IMIGRAN</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157734"> 157734 - Resumo de Contrato 065 2015 AERTON JORGE ZENIBONI ME e UNISUL COMERCIO EIRELI ME</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Ibiraçu</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157660"> 157660 - RESUMO DO CONTRATO Nº 133  2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Iconha</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157785"> 157785 - EXTRATO CONTRATO N° 40.2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157783"> 157783 - EXTRATO CONTRATO N° 38.2015</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157786"> 157786 - EXTRATO CONTRATO N° 39.2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Itapemirim</span>
						<ul>
							<li><span class="folder">Convocação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157882"> 157882 - CONVOC COTAÇÃO  DIO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Iúna</span>
						<ul>
							<li><span class="folder">Despacho</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157703"> 157703 - Ato de paralisação do contrato 173-2011 - Italo Engenharia</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157326"> 157326 - Publicação Contrato 23/2015 - E S Brasil </a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Marataízes</span>
						<ul>
							<li><span class="folder">Convocação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157860"> 157860 - TOMADA DE PREÇOS Nº 008/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Montanha</span>
						<ul>
							<li><span class="folder">Convocação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157654"> 157654 - CONVOCAÇÃO TRABALHADORES PREFEITURA </a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157667"> 157667 - CONTRATO IMOVEL NELSON </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157680"> 157680 - CONTRATO PREGAO 006 2015 FMAS </a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157709"> 157709 - CONTRATO 020 2015 FMAS </a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Nova Venécia</span>
						<ul>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157777"> 157777 - Extrato 2º Aditivo Contrato 036 2013  PP 016 2013   JAGUARENSE TRANSPORTE E TERRAPLANAGEM LTDA EPP</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157778"> 157778 - Extrato 2º Aditivo Contrato 035 2013  ARCEL ELETRICIDADES E TELECOMUNICAÇÕES LTDA EPP</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157774"> 157774 - Extrato 1º Aditivo Contrato 034 2013  SINDICATO RURAL DE NOVA VENÉCIA ES</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157775"> 157775 - Extrato 2º Aditivo Contrato 103 2013  MARCOS ALVES SEBIM</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Pedro Canário</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157895"> 157895 - RESUMO DE CONTRATO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Santa Teresa</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157679"> 157679 - Publicação Contratos - 10-06-15</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">São Mateus</span>
						<ul>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157947"> 157947 - Errata Extrato Contrato</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serra</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157904"> 157904 - Extrato contratos 168 e 169/2015</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Aditivo</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157754"> 157754 - EXTRATO DO 1º TERMO ADITIVO AO CONTRATO 148/2014 - SESA</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Viana</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157954"> 157954 - Resumo CT 040 2014</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Vila Velha</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157982"> 157982 - SEMGOV DIO 10 06 15 PORTARIAS NºS 142 E 143 15</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157864"> 157864 - SEMAD_Pub_208_2015_Contrato 114-2015- SEMAD</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Convênio</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157829"> 157829 - SEMAD Pub 207 2015 rescisão de convênio de cessão</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Câmaras</span>
				<ul>
					<li><span class="folder">Aracruz</span>
						<ul>
							<li><span class="folder">Termos</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157642"> 157642 - Aviso 002 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Baixo Guandu</span>
						<ul>
							<li><span class="folder">Contrato</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157730"> 157730 - Resumo do Contrato nº 007/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Barra de São Francisco</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157725"> 157725 - BARRA DE SÃO FRANCISCO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Iconha</span>
						<ul>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157749"> 157749 - RETIFICAÇÃO DO EXTRATO CONTRATOS 008 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serra</span>
						<ul>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157760"> 157760 - Errata/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Entidades Estaduais</span>
				<ul>
					<li><span class="folder">Superintendência Regional de Saúde de São Mateus</span>
						<ul>
							<li><span class="folder">Ordem de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157929"> 157929 - REUMO ORDEM FORNECIMENTO SERVIÇO</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Entidades Municipais</span>
				<ul>
					<li><span class="folder">Instituto de Previdência dos Servidores Públicos do Município de Vila Velha</span>
						<ul>
							<li><span class="folder">Resolução</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157854"> 157854 - RESOLUÇÃO N 004 DE 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Baixo Guandu</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157656"> 157656 - EXTRATO DE PORTARIAS-07/15</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de São Mateus</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157676"> 157676 - portaria saae sma 047 2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Serviço Autônomo de Água e Esgoto de Itapemirim</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157748"> 157748 - PORTARIA 049/2015 - VACÂNCIA JÚLIO CÉSAR A. SALES</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Ministério Público do Espírito Santo  - MPES -</span>
				<ul>
					<li><span class="folder">Procuradoria Geral de Justiça  - PGJ -</span>
						<ul>
							<li><span class="folder">Convocação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157897"> 157897 - Convocação  PGJ</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157915"> 157915 - Convocação  PGJ   2º parte</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157925"> 157925 - Portarias de 4034 a 4049  PGJ</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157978"> 157978 - Portaria 4061  PGJ   2º parte</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Subprocuradoria Geral de Justiça Administrativa</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157927"> 157927 - Portaria 4050  SPGA</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Gerência Geral</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157930"> 157930 - Portarias de 4051 a 4060  GGER</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157905"> 157905 - Errata  GGER</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Colégio de Procuradores de Justiça</span>
						<ul>
							<li><span class="folder">Pauta</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157907"> 157907 - PAUTA Colégio</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Errata</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157903"> 157903 - ERRATA  Colégio</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Promotorias de Justiça</span>
						<ul>
							<li><span class="folder">Decisão</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157917"> 157917 - Decisão  PJ</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Instrução de Serviço</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157923"> 157923 - Instrução de serviço  PJ</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Centros de Apoio Operacional</span>
						<ul>
							<li><span class="folder">Quadros Estatísticos</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157909"> 157909 - Quadro Estatístico  CAOs</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Defensoria Pública do Estado  - DPES -</span>
				<ul>
					<li><span class="folder">Portaria</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157911"> 157911 - Concessão de Férias</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157928"> 157928 - PORTARIA DPES 433  ABERTURA DE DEFENSORIA COM NECESSIDADE DE SUBSTITUIÇÃO DA FÉRIAS   junho 4 2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Contrato de Estágio</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157823"> 157823 - Portaria CESV nº 434/ 2015</a>
                </span>
							</li>
						</ul>
					</li>
					<li><span class="folder">Contrato</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157816"> 157816 - CONTRATAÇÃO: FRIOSMIL REFRIGERAÇÃO E TRANSPORTES LTDA - EPP.</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Poder Legislativo</span>
				<ul>
					<li><span class="folder">Assembléia Legislativa do Espírito Santo  - ALES -</span>
						<ul>
							<li><span class="folder">Resolução</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157727"> 157727 - RESOLUÇÃO Nº 3.996</a>
                </span>
									</li>
									<li><span class="file"><a class="linkMateria" identificador="157899"> 157899 - RESOLUÇÃO Nº 3.998</a>
                </span>
									</li>
								</ul>
							</li>
							<li><span class="folder">Convênio</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157751"> 157751 - Resumo de Convêncio</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Poder Judiciário</span>
				<ul>
					<li><span class="folder">Tribunal Regional Eleitoral  - TRE -</span>
						<ul>
							<li><span class="folder">Portaria</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157837"> 157837 - Ato n. 380/2015</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><span class="folder">Comarca do Interior</span>
						<ul>
							<li><span class="folder">Edital de Citação</span>
								<ul>
									<li><span class="file"><a class="linkMateria" identificador="157741"> 157741 - Edital  Sônia Siqueira Domingues</a>
                </span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Publicações de Terceiros</span>
				<ul>
					<li><span class="folder">Publicações de Terceiros</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157516"> 157516 - COMUNICADO - BELA VISTA – CLINICA DE OLHOS S/S LTDA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157315"> 157315 - Comunicado</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="156939"> 156939 - Ala Pescados Importação e Exportação Ltda EPP</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="156736"> 156736 - COMUNICADO - SEMMA - “CENTRO MÉDICO DE RADIODIAGNÓSTICOS S/S LTDA - EPP” </a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157662"> 157662 - CONVOCACAO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157674"> 157674 - EDITAL JUNHO 2015</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157638"> 157638 - PUBLICAÇÃO CASTOR REQUERENDO</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157617"> 157617 - RESIDENCIAL FELICIDADE SPE_Renovação da Licença</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157688"> 157688 - ETES DOES</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157364"> 157364 - CAFENORTE S A</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157773"> 157773 - Gerusete S Maria Pinheiro</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157857"> 157857 - COMUNICADO - IEMA -OFICINA MECÂNICA BERNABE LTDA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157866"> 157866 - VILA NOVA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157219"> 157219 - Edital de Convocação para Assembleia de Fundação</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157329"> 157329 - pub Req LS  VIVO STA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157328"> 157328 - pub Req LS  VIVO SJP</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157870"> 157870 - BROTAS GENETICA SA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157873"> 157873 - COMUNICADO - SEMMA - DETRONIC Desmontes e Terraplenagem S/A</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157517"> 157517 - EDITAL DE INTERDIÇÃO 124  Arpoador Comércio de Medicamentos Ltda   Corrida Santa Lúcia (1406   particular)</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157960"> 157960 - METALOSA EDITAL CONVOCACAO AGO E</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="156082"> 156082 - PULBICAÇÃO POSTO BELA VISTA</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="153236"> 153236 - pubreq LAS  PREX</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157701"> 157701 - Cerâmica Fereguetti 22842950</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157702"> 157702 - Mineração Marianelli 2466 15</a>
                </span>
							</li>
							<li><span class="file"><a class="linkMateria" identificador="157732"> 157732 - SICAM IMOVEIS S</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="folder">Balanços</span>
				<ul>
					<li><span class="folder">Balanços</span>
						<ul>
							<li><span class="file"><a class="linkMateria" identificador="157949"> 157949 - balanço APAE VITORIA</a>
                </span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>